name: Daily Check-in

on:
  schedule:
    - cron: '0 23 * * *'
  workflow_dispatch:

jobs:
  checkin:
    runs-on: ubuntu-latest
    steps:
      - name: Run check-in script
        run: bash ./checkin/glados_checkin.sh
